/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ====================
  Grid
  ====================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 0;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
}

/*
  ====================
  Clearfix
  ====================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ====================
  Typography
  ====================
*/

h1, h3, p {
  margin-bottom: 22px;
}

/*
  ====================
  Primary header
  ====================
*/

.logo {
  float: left;
  padding: 40px 0 0px 0;
  font-size: 38px;
  line-height: 44px;
  font-weight: 100;
}
.primary-nav {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-top: 60px;
}

/*
  ====================
  Primary footer
  ====================
*/

.primary-footer small {
  float: left;
  font-weight: 400;
}
.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #FFFDD0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/*
  ====================
  Inline-block center
  ====================
*/
section {
  display: inline-block;
  margin: 0 1.5%;
  width: 21%;
  vertical-align: top;
  text-align: center;
  padding: 72px 0;
}

section.whereto {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
  vertical-align: top;
  text-align: center;
  padding: 72px 0;
}

/*
  ====================
  Custom styles
  ====================
*/
body {
  color: #FB5B1F;
  background-color: #000000;
  font: 300 20px/26px Helvetica, Arial, sans-serif;
}

h1, h3 {
  color: #FFFDD0;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 100;
  font-variant: small-caps;
}
h3 {
  font-size: 28px;
  font-style: italic;
}

strong {
  font-weight: 400;
}

/*
  ====================
  Links
  ====================
*/

a:hover {
  color: #FB5D1F;
}
a {
  color: #FFFDD0;
  text-decoration: none;
}

/*
  ====================
  Navigation
  ====================
*/
.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 48px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
